      body {
        margin: 5px;
      }

      .clear {
        clear: both;
      }

      .off .title {
        color: #999;
      }

      .ui-radio .ui-btn-active.ui-first-child {
        background-color: #00BF05;
        border-color: #ddd;
      }

      .ui-radio .ui-btn-active.ui-last-child {
        background-color: #E82C0C;
        border-color: #ddd;
      }

      .zone {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #aaa;
      }

      .zone.noDivider {
        margin-top: 0px;
        padding-top: 0px;
        border-top: none;
      }

      .title {
        font-weight: bold;
        line-height: 3em;
        text-align: center;
      }

      .titleMute {
        font-weight: light;
        line-height: 3em;
        text-align: center;
      }


      .powerContainer {
        float: left;
        margin-left: 5px;
      }

      .volumeContainer {
      }

      .muteContainer {
        display: none;
      }

      .containerTitle {
        display: none;
      }

      .inputContainer {
        float: right;
      }

      /* Hide the number input */
      .full-width-slider .ui-slider input {
        display: none;
      }

      .full-width-slider .ui-slider-track {
        margin-left: 15px;
      }

            /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


      /* iphone 5 styles */
      @media screen and ( max-height: 570px ) {
        body {
          font-size: 80%;
        }
        .zone {
          margin-top: 0px;
          padding-top: 0px;
          border-top: 1px solid #aaa;
        }
        .title {
          font-size: 130%;
        }
      }
