      body {
        margin: 5px;
      }

      .clear {
        clear: both;
      }

      .off .title {
        color: #999;
      }

      .ui-radio .ui-btn-active.ui-first-child {
        background-color: #00BF05;
        border-color: #ddd;
      }

      .ui-radio .ui-btn-active.ui-last-child {
        background-color: #E82C0C;
        border-color: #ddd;
      }
      
      .ui-radio input {
        margin-top: -11px;
      }

      .zone {
        margin-top: 12px;
        padding-top: 12px;
        border-top: 1px solid #aaa;
      }

      .zone.noDivider {
        margin-top: 0px;
        padding-top: 0px;
        border-top: none;
      }

      .title {
        font-weight: bold;
        line-height: 3em;
        text-align: center;
      }


      .powerContainer {
        float: left;
        margin-left: 5px;
      }

      .volumeContainer {
      }

      .muteContainer {
        float: left;
        font-weight: light;
        text-align: center;
      }

      .muteContainer.button {
        height: 90%;
        background-color: red;
      }

      .containerTitle {
        float: top;
        font-weight: normal;
        text-align: center;
      }

      .inputContainer {
        float: right;
      }

      /* Hide the number input */
      .full-width-slider .ui-slider input {
        display: none;
      }

      .full-width-slider .ui-slider-track {
        margin-left: 15px;
      }


